---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from "../components/Header.astro"
import Boxes from "../components/Boxes.astro"
import Slider from "../components/Slider2.astro"
import MediaList2 from '../components/MediaList2.astro';
import Aa from "../components/aa.astro"
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- <DisneyLogo /> -->
		<Header />
		<Aa client:* />
		<Boxes />
		<MediaList2 client:* />
		<MediaList2 client:* />
		<MediaList2 client:* />
		<MediaList2 client:* />
		<MediaList2 client:* />
		<MediaList2 client:* />
		<MediaList2 client:* />
		<MediaList2 client:* />
	</main>
</Layout>

<style>
	main {
	}
</style>
